* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #2b2b2b;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

.container {
    width: 420px;
    padding: 20px;
}

.header-content img {
    width: 200px;
    height: auto;
}

.logo {
    width: 40px;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}


.tela-termos {
    width: 100%;
    height: 90vh;
    background: #2f2f2f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header h3 {
    margin-bottom: 20px;
  }
  
  .titulo {
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin-bottom: 10px;
  }

  span {
    font-weight: 700;
  }
  
  .conteudo-termo {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    max-width: 500px;
    height: auto; 
    background: #3b3b3b;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    overflow-y: auto;
  }
  
 
  .conteudo-termo::-webkit-scrollbar {
    width: 6px;
  }
  .conteudo-termo::-webkit-scrollbar-thumb {
    background: #FA862A;
    border-radius: 10px;
  }
  
  .acoes {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-cancelar,
  .btn-continuar {
    width: 48%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-cancelar {
    transition: all 0.5s;
    background: #FA862A;
    color: #ffffff;
  }
  
  .btn-continuar {
    transition: all 0.5s;
    background: #FA862A;
    color: #ffffff;
  }

  .btn-cancelar:hover {
    transform: scale(1.1);
  }

  .btn-continuar:hover {
    transform: scale(1.1);
  }