* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
  background-color: #2F3032;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
}


.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 900;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  height: 7%;
  width: 100%;
  padding: 2px;
  gap: 15px;
}

header img {
  height: 90%;
  width: auto;
}

header p {
  font-size: 1.3rem;
  font-weight: 900;
  color: #ffff;
}


h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}


.tela-termos {
    width: 100%;
    height: 80vh;
    background: #2f2f2f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header h3 {
    margin-bottom: 20px;
  }
  
  .titulo {
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin-bottom: 10px;
  }

  span {
    font-weight: 700;
  }
  
  .conteudo-termo {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    max-width: 500px;
    height: 100%; 
    background: #3b3b3b;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    overflow-y: auto;
  }
  
 
  .conteudo-termo::-webkit-scrollbar {
    width: 6px;
  }
  .conteudo-termo::-webkit-scrollbar-thumb {
    background: #FA862A;
    border-radius: 10px;
  }
  
  .acoes {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-cancelar,
  .btn-continuar {
    width: 48%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-cancelar {
    transition: all 0.5s;
    background: #FA862A;
    color: #ffffff;
  }
  
  .btn-continuar {
    transition: all 0.5s;
    background: #FA862A;
    color: #ffffff;
  }

  .btn-cancelar:hover {
    transform: scale(1.1);
  }

  .btn-continuar:hover {
    transform: scale(1.1);
  }