* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.active {
  display: flex;
}

.disable {
  display: none;
}

body {
  width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: #2f3032;
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25vh;
  padding: 15px;
  width: 100%;
  /* background-color: #121212; */
}

header img {
  width: 10%;
}

.icon {
  font-size: 1.2rem;
  color: #fff;
}

main {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  width: 100%;
}

.banner {
  width: 90%;
  border-radius: 5px;
  height: 150px;
  background-position: center;
  background-image: url("../../../img/banner.png");
  position: relative;
}

.transparencia {
  position: absolute;
  z-index: 998;
  top: 0;
  border-radius: 5px;
  background-color: rgba(75, 75, 75, 0.5);
  height: 100%;
  width: 100%;
}

.titulo-evento {
  top: 10%;
  left: 5%;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  position: absolute;
  z-index: 999;
}

.cadastro-evento {
  display: flex;
  width: 100%;
  color: #fff;
  padding-inline: 20px;
  flex-direction: column;
}

.detalhes {
  font-size: 1rem;
  justify-content: start;
  width: 100%;
}

.dados-evento {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.img-evento {
  height: 150px;
  border-radius: 5px;
  background-color: #8d33a3;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  margin: 15px;
  cursor: pointer;
}
.titulo-foto {
  font-weight: 600;
}
.carregar {
  padding: 5px;
  width: 60%;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(75, 75, 75, 0.6);
}
.icon-camera {
  font-size: 2rem;
}
.campos-dados {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.input-box {
  padding-block: 5px;
  display: flex;
  gap: 10px;
  background-color: #fdfefd;
  flex-direction: row;
  padding-inline: 10px;
  align-items: center;
  position: relative;
  width: 90%;
  border-radius: 5px;
}
.input-box input {
  height: 25px;
  width: 100%;
  background-color: transparent;
  font-weight: 100;
  border-radius: 3px;
  padding-left: 5px;
  border: none;
  color: #222323;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  box-shadow: none;
}

.input-box label{
  color: #222323;
  background-color: transparent;
}
.categoria {
  padding-top: 10px;
  width: 100%;
  height: auto;
}
.container-categoria {
  width: 100%;
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.cor-item-click {
  transition: all 0.5s;
  background-color: #8d33a3;
}
.cor-item-padrao {
  transition: all 0.5s;
  background-color: #6f6f6f;
}
.item-categoria {
  padding: 5px;
  padding-inline: 12px;
  border-radius: 5px;

  cursor: pointer;
}

.item-categoria.selecionado {
    background-color: #8d33a3
}

.sei {
  display: flex;
  width: 100%;
  padding-inline: 2.8%;
  justify-content: space-around;
  gap: 2%;
}
.se {
  display: flex;
  gap: 3vw;
  padding-inline: 18px;
}
.data {
  width: 70%;
}
.Status {
  width: 30%;
}
.uf {
  width: 30%;
}
.cep {
  width: 70%;
}
.seila {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 4.5%;
  gap: 2vw;
}
.bai {
  width: 48%;
}
.seime {
  display: flex;
  padding-inline: 5%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2%;
}
.logradouro {
  width: 80%;
}
.numero {
  width: 15%;
}
.setor-ingresso {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 10vh;
}
.setor-ingresso h4 {
  font-size: 1.4rem;
}
.container-setor-ingresso {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  height: 90%;
  background-color: #3f4042;
}
.setor {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  position: relative;
}
.setor::after {
  content: " ";
  width: 0%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 2%;
  border-radius: 10px;
  left: 5%;
  animation: borda 4s ease forwards;
}
.bnt {
  border-radius: 100%;
  width: 30px;
  height: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85329e;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.Cadastrar {
  width: 40%;
  height: 35px;
  border-radius: 5px;
  background-color: #fa862a;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  margin-top: 5vh;
  margin-left: 30%;
  transition: ease-in 1s;
  cursor: pointer;
}
.Cadastrar:hover {
  transform: scale(1.1);
}
.bntIngresso {
  display: flex;
  gap: 1vw;
}

.bntSetor {
  display: flex;
  gap: 1vw;
}

@keyframes borda {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.setor p {
  font-size: 1rem;
}

footer {
  /* background-color: aqua; */
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
}

.redes-sociais {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.icon-s {
  color: #fff;
  font-size: 1.2rem;
}

.links {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.what {
  display: flex;
  gap: 3px;
  background-color: #8d33a3;
  padding: 10px;
  color: #fff;
  border-radius: 20px;
}
@media (min-width: 650px) {
  header img {
    width: 8%;
  }
  .icon {
    font-size: 1.8rem;
  }
  main {
    padding-top: 1vh;
  }
  .banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .titulo-evento {
    font-size: 2.125rem;
  }
  .detalhes {
    padding-left: 3%;
    font-size: 1.3rem;
  }
  .img-evento {
    width: 60%;
    height: 260px;
    font-size: 1.5rem;
  }
  .icon-camera {
    font-size: 4.5rem;
  }
  .carregar {
    font-size: 1.3rem;
  }
  .se {
    width: 100%;
    padding-inline: 5%;
  }
  .seila {
    width: 100%;
  }
  .seime {
    width: 100%;
  }
  .categoria {
    margin-top: 20px;
    padding-inline: 3%;
  }
  .categoria p {
    font-size: 1.35rem;
  }
  .item-categoria p {
    font-size: 1.2rem;
  }
  .container-setor-ingresso {
    width: 90%;
  }
  .setor {
    width: 100%;
  }
  .Cadastrar {
    font-size: 1.3rem;
    height: 40px;
    width: 35%;
    margin-bottom: 25px;
  }
  .links {
    font-size: 1.2rem;
  }
  .icon-s {
    font-size: 1.5rem;
  }
  .what {
    padding: 15px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
  }
}
@media (min-width: 1020px) {
  header {
    height: 80px;
    padding-inline: 35px;
  }
  header img {
    width: 5%;
  }
  .icon {
    font-size: 2.25rem;
  }
  .banner {
    height: 500px;
  }
  .titulo-evento {
    font-size: 2.125rem;
  }
  .detalhes {
    padding-left: 4%;
    font-size: 1.6rem;
  }
  .img-evento {
    width: 30%;
    height: 300px;
    font-size: 1.7rem;
    gap: 3vh;
  }
  .icon-camera {
    font-size: 6.5rem;
  }
  .categoria {
    padding-inline: 12%;
  }
  .carregar {
    width: 40%;
  }
  .campos-dados {
    width: 80%;
    padding-inline: 8%;
  }
  .seime{
    padding-inline: 65px;
  }

  .container-setor-ingresso {
    width: 75%;
  }
  .bnt {
    width: 46px;
    height: 44px;
    font-size: 2.3rem;
  }
  .Cadastrar {
    font-size: 1.3rem;
    height: 40px;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 40px;
  }
  footer {
    height: 25vh;
  }
  .icon-s {
    font-size: 1.6rem;
  }
}
