* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.active {
    display: flex;
}

.disable {
    display: none;
}

body {
    width: 100vw;
    font-family: "Inter", sans-serif;
    background-color: #2f3032;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    padding: 15px;
    width: 100%;
    background-color: #121212;
}

header img {
    width: 25%;

}

.icon {
    color: #fff;
}

main {
    padding-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    width: 100%;
}

.banner {
    width: 90%;
    border-radius: 5px;
    height: 120px;
    background-position: center;
    background-image: url('../../../img/banner.png');
    position: relative;
}

.transparencia {
    position: absolute;
    z-index: 998;
    top: 0;
    border-radius: 5px;
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    width: 100%;
}

.titulo-evento {
    top: 10%;
    left: 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    position: absolute;
    z-index: 999;
}

.cadastro-evento {
    display: flex;
    width: 100%;
    color: #fff;
    padding-inline: 20px;
    flex-direction: column;
}

.detalhes {
    font-size: 0.8rem;
    justify-content: start;
    width: 100%;
}

.dados-evento {
    display: flex;
    width: 100%;
    /* background-color: burlywood; */
    padding-top: 10px;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.img-evento {
    height: 130px;
    border-radius: 5px;
    background-color: #8D33A3;
    width: 70%;
}
.carregar{
    padding: 5px;
    width: 60%;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(75, 75, 75, 0.5);
}