* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    height: 7%;
    width: 100%;
    padding: 2px;
    gap: 15px;
}

header img {
    height: 90%;
    width: auto;
}

header p {
    font-size: 1.3rem;
    font-weight: 900;
    color: #ffff;
}

body {
    background-color: #2F3032;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    gap: 20px;
}

.banner span {
    font-size: 1rem;
    font-weight: 500;
    color: #ffff;
}

.media {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.media img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.lote {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding: 10px;
    width: 80%;
    height: auto;
    background-color: #1A1B1C;
    border-radius: 10px;
}

.lote p {
    display: flex;
    flex-direction: column;
    color: white;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    border-right: 2px solid #ffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ingresso {
    display: flex;
    align-items: center;
    padding-right: 5px;
    gap: 5vw;
    margin-left: 10px;
}

.ingresso .texto {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.ingresso p {
    font-size: 0.8rem;
   margin: 0;
}

.comprar {
    padding: 8px 15px;
    background-color: #FA862A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #ffff;
    transition: 0.5s;
}

.comprar:hover {
    scale: 1.1;
}

.local {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 15px;
    width: 80%;
    background-color: #1A1B1C;
    border-radius: 10px;
    color: #fff; 
}

.local h4 {
    display: flex;
    justify-content: center;
}


.local .linha {
    display: flex;
    margin-bottom: 6px;
}

.local .label {
    font-weight: bold;
    margin: 0;
}

.local .valor {
    margin: 0;
    padding-left: 10px;
}

.descricao-evento {
    margin-top: 15px;
    width: 80%;
    border-bottom: 2px solid #ffff;
    color: #fff;
}

.descricao {
    margin-top: 15px;
    width: 80%;
    background-color: #3F4042;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 5px
}

.descricao p {
    margin-top: 10px;
    font-size: 0.9rem;
}

.descricao span {
    color: #fff;
    font-weight: 800;
}



@media (min-width: 1280px){
    .media{
        height: 450px;
        object-fit: cover;
    }
}


