* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    height: 7%;
    width: 100%;
    padding: 2px;
    gap: 15px;
}

header img {
    height: 90%;
    width: auto;
}

header p {
    font-size: 1.3rem;
    font-weight: 900;
    color: #ffff;
}

body {
    background-color: #2F3032;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    gap: 20px;
}

.banner span {
    font-size: 1rem;
    font-weight: 500;
    color: #ffff;
}

.media {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.media img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (min-width: 1280px){
    .media{
        height: 450px;
        object-fit: cover;
    }
}


