* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.active {
  display: flex;
}

.disable {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background-color: #2f3032;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #2f3032;
}

header img {
  width: 30%;
}

.icon {
  font-size: 1.2rem;
  color: #fff;
}

main {
  width: 100%;
  height: 80%;
}
.banner {
  display: flex;
  width: 100%;
  height: 35%;
  color: #fff;
  font-weight: 700;
  position: relative;
}
.banner .info-banner {
  bottom: 5%;
  left: 5%;
  position: absolute;
}
.banner img {
  width: 100%;
}

.pesquisa-evento {
  background-color: aqua;
  height: 15%;
  width: 100%;
}
.pesquisa {
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: 50%;
  width: 100%;
}
.input-box {
  padding-left: 10px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding-inline: 10px;
  align-items: center;
  position: relative;
  width: 80%;
  background-color: rgb(241, 237, 237);
  border-radius: 5px;
}

.input-box input {
  height: 25px;
  width: 100%;
  background-color: transparent;
  font-weight: 100;
  color: #919191;
  border-radius: 3px;
  padding-left: 5px;
  border: none;
  outline: none;
  box-shadow: none;
}

.input-pesquisa i {
  position: absolute;
  margin-left: 93%;
  top: 50%;
  transform: translateY(-50%);
}
.uf {
  height: 25px;
  background-color: rgb(241, 237, 237);
  border-radius: 5px;
  width: 15%;
}
.filtro {
  height: 50%;
  width: 100%;
}
