* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #121212; */
  height: 7%;
  width: 100%;
  padding: 2px;
  gap: 15px;
}

.icon {
  color: #fff;
  font-size: 1.325rem;
  cursor: pointer;
}

.logo {
  width: 65%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.voltar {
  width: 30%;
  padding-left: 15px;
}

header img {
  width: 13%;
}

header p {
  font-weight: 900;
  color: #ffff;
}

body {
  background-color: #2f3032;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: auto;
  gap: 20px;
}

.banner span {
  font-size: 1rem;
  font-weight: 500;
  color: #ffff;
}

.media {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.media img {
  width: 95%;
  border-radius: 10px;
}

.lote {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding: 10px;
  width: 90%;
  height: auto;
  background-color: #1a1b1c;
  border-radius: 10px;
}

.lote p {
  display: flex;
  flex-direction: column;
  color: white;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  border-right: 2px solid #ffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ingresso {
  display: flex;
  align-items: center;
  padding-right: 5px;
  gap: 5vw;
  margin-left: 10px;
}

.ingresso .texto {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.ingresso p {
  font-size: 0.8rem;
  margin: 0;
}

.comprar {
  padding: 8px 15px;
  background-color: #fa862a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #ffff;
}

.local {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
  width: 90%;
  background-color: #1a1b1c;
  border-radius: 10px;
  color: #fff;
}

.local h4 {
  display: flex;
  justify-content: center;
}

.local .linha {
  display: flex;
  margin-bottom: 6px;
}

.local .label {
  font-weight: bold;
  margin: 0;
}

.local .valor {
  margin: 0;
  padding-left: 10px;
}

.descricao-evento {
  margin-top: 15px;
  width: 90%;
  border-bottom: 2px solid #ffff;
  color: #fff;
}

.descricao {
  margin-top: 15px;
  width: 90%;
  background-color: #3f4042;
  border-radius: 10px;
  text-align: center;
  height: 250px;
  color: #fff;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 10px;
  margin-bottom: 30px;
}

.descricao p {
  margin-top: 10px;
  font-size: 0.9rem;
}

.descricao span {
  color: #fff;
  font-weight: 800;
}

footer {
  /* background-color: aqua; */
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.redes-sociais {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.icon-s {
  color: #fff;
  font-size: 1.2rem;
}

.links {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.icon-s:hover {
  transform: scale(1.1);
}

.what {
  display: flex;
  gap: 3px;
  background-color: #8d33a3;
  align-items: center;
  padding: 10px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.2s;
}

.what:hover {
  transform: scale(1.1);
}

.categorias {
  width: 75%;
  height: 200px;
  background-color: #fa862a;
}

@media (min-width: 650px) {
  .categorias {
    width: 90%;
  }
  .logo {
    font-size: 1.5rem;
  }

  .icon {
    font-size: 2.2rem;
  }

  .media img {
    width: 75%;
  }

  .banner span {
    font-size: 1.7rem;
    padding-left: 5%;
  }

  .lote {
    padding: 20px;
  }

  .lote p {
    font-size: 1.4rem;
  }

  .comprar {
    font-size: 1.5rem;
  }

  .ingresso {
    gap: 15vw;
  }

  .local {
    font-size: 1.4rem;
    gap: 1.25vh;
  }

  .descricao-evento {
    font-size: 1.6rem;
  }

  .descricao {
    font-size: 1.45rem;
    height: 350px;
    padding: 20px;
  }

  .descricao p {
    font-size: 1.2rem;
  }

  .links {
    font-size: 1.2rem;
  }

  .icon-s {
    font-size: 1.5rem;
  }

  .what {
    padding: 15px;
    gap: 10px;
    border-radius: 30px;
  }
}

@media (min-width: 1020px) {
  header {
    height: 85px;
  }

  .logo {
    padding-left: 15%;
    font-size: 1.5rem;
  }

  .logo img {
    width: 7%;
  }

  .icon {
    font-size: 2.5rem;
  }

  .media img {
    width: 75%;
  }

  .banner span {
    font-size: 2.1rem;
    padding-left: 12%;
  }

  .lote {
    width: 75%;
    padding: 15px;
  }

  .lote p {
    font-size: 1.7rem;
  }

  .comprar {
    padding: 15px;
    padding-inline: 20px;
    border-radius: 8px;
  }

  .ingresso {
    gap: 35vw;
  }

  .local {
    font-size: 1.7rem;
    gap: 1.25vh;
    width: 75%;
  }

  .descricao-evento {
    width: 75%;
    font-size: 1.9rem;
  }

  .descricao {
    width: 75%;
    font-size: 1.75rem;
    padding: 35px;
  }

  .descricao p {
    font-size: 1.5rem;
  }

  footer {
    height: 25vh;
  }

  .icon-s {
    font-size: 1.6rem;
  }
}